<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <link rel="icon" href="/favicon.png" type="image/x-icon" />
    <meta name="google-site-verification" content="y3zi4sfpKLWsPa1ODVmgye1GlSQLzeBBbV1tlZER5gY" />

    <meta name="title" content="Mark Murray" />
    <meta name="description" content="Front-End Developer and UI Designer." />
    <link rel="image_src" href="<%= htmlWebpackPlugin.options.preview %>" />

    <meta property="og:title" content="Mark Murray" />
    <meta property="og:url" content="https://markmurray.co" />
    <meta property="og:description" content="Front-End Developer and UI Designer." />
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.preview %>" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
