
// Pastel Colors
$pastel-green: #58B3B2;
$pastel-pink: #E0B0C2;
$pastel-orange: #E19C7D;

// COLORS
$navy:            #2c3e50;
$pink:            #DA5269;
$black-pearl:     #1F2529;
$blue:            #0087ff;
$deep-blue:       #373F81;
$gradient:        #0060FF, #0031FF;
$light-grey:      #ADB1BF;
$border-grey:     #eeeeee;
$text-grey:       darken(#9BA0B1, 10%);
$dark:            #323B46;
$bg-grey:         rgb(246, 246, 249);
$background:      white;
$menu-links:      $light-grey;
$green:           #1abc9c;
$blue-gradient: (#005FFF, 0.09, #0031FF, 0.5);
