// MIXINS
@mixin logo-font {
  font-family: $logo-font, sans-serif;
}

@mixin primary-gradient {
  background-image: linear-gradient(-45deg, nth($gradient, 1), nth($gradient, 2));
}

@mixin xs-device {
  @media (max-width: $xs-device) { @content; }
}

/// Target small devices
@mixin sm-device {
  @media (min-width: $sm-device) and (max-width: $md-device) { @content; }
}

/// Target medium size devices
@mixin md-device {
  @media (min-width: $md-device) and (max-width: $lg-device) { @content; }
}

/// Target large devices
@mixin lg-device {
  @media (min-width: $lg-device) { @content; }
}

/// Target multiple devices at once
@mixin devices($xs: false, $sm: false, $md: false, $lg: false) {
  @if $xs == true { @include xs-device { @content; }}
  @if $sm == true { @include sm-device { @content; }}
  @if $md == true { @include md-device { @content; }}
  @if $lg == true { @include lg-device { @content; }}
}

@mixin overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


@mixin createButton($name, $color) {
  button.button,
  a.button {
    &.#{$name} {
      display: flex;
      background: $color;

      &:hover {
        background: darken($color, 7.5%);
      }

      i {
        background: darken($color, 7.5%);
      }
    }
  }
}
