@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

$logo-font: 'Satisfy';

// FONTS
@import url('https://fonts.googleapis.com/css?family=#{str-replace($logo-font, ' ', '+')}');

// Pastel Colors
$pastel-green: #58B3B2;
$pastel-pink: #E0B0C2;
$pastel-orange: #E19C7D;

// COLORS
$navy:            #2c3e50;
$pink:            #DA5269;
$black-pearl:     #1F2529;
$blue:            #0087ff;
$deep-blue:       #373F81;
$gradient:        #0060FF, #0031FF;
$light-grey:      #ADB1BF;
$border-grey:     #eeeeee;
$text-grey:       #9BA0B1;
$dark:            #323B46;
$bg-grey:         rgb(246, 246, 249);
$background:      $black-pearl;
$menu-links:      $light-grey;
$green:           #1abc9c;
$blue-gradient: (#005FFF, 0.09, #0031FF, 0.5);

// VARIABLES
$main-font: 'Lato';
$primary: $pastel-green;
$radius: 4px;
$line-speed: 1s;
$line-easing: cubic-bezier(0.65, 0.05, 0.36, 1);
$nav-width: 65px;
$nav-width-open: 225px;
$xs-device: 767px;
$sm-device: 768px;
$md-device: 992px;
$lg-device: 1200px;

// MIXINS
@mixin header-font {
  font-family: $main-font, 'Helvetica Neue', Helvetica;
}

@mixin logo-font {
  font-family: $logo-font, sans-serif;
}

@mixin main-font {
  font-family: 'Lora', Georgia;
  font-weight: 400;
  line-height: 1.65;
}

@mixin primary-gradient {
  background-image: linear-gradient(-45deg, nth($gradient, 1), nth($gradient, 2));
}

@mixin xs-device {
  @media (max-width: $xs-device) { @content; }
}

/// Target small devices
@mixin sm-device {
  @media (min-width: $sm-device) and (max-width: $md-device) { @content; }
}

/// Target medium size devices
@mixin md-device {
  @media (min-width: $md-device) and (max-width: $lg-device) { @content; }
}

/// Target large devices
@mixin lg-device {
  @media (min-width: $lg-device) { @content; }
}

/// Target multiple devices at once
@mixin devices($xs: false, $sm: false, $md: false, $lg: false) {
  @if $xs == true { @include xs-device { @content; }}
  @if $sm == true { @include sm-device { @content; }}
  @if $md == true { @include md-device { @content; }}
  @if $lg == true { @include lg-device { @content; }}
}

$directions: (top, bottom, left, right);

@for $i from 1 through length($directions) {
  .margin-#{nth($directions, $i)}-auto {
    margin-#{nth($directions, $i)}: auto;
  }

  .margin-#{nth($directions, $i)} {
    margin-#{nth($directions, $i)}: 1em;
  }

  .padding-#{nth($directions, $i)} {
    padding-#{nth($directions, $i)}: 1em;
  }
}

%primary-gradient {
  @include primary-gradient;
}

::selection {
  background: lighten($black-pearl, 10%);
}

.capitalize { text-transform: capitalize; }

.NotFound {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  height: 100vh;

  h1 {
    margin-bottom: 1em;
  }
}

#Logo {
  @include logo-font;
  color: $primary;
  font-weight: normal;
  text-align: center;
}

.ProjectEditor {
  display: flex;
  flex-direction: row;

  .ProjectEditor-side {
    flex: 0 0 auto;
    padding: 2em;
    padding-top: 2em;
  }

  .ProjectEditor-main {
    flex: 1 1 auto;
  }
}

.hidden, [hidden] {
  display: none!important;
}

.ProjectDetail {
  header {
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: center center;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 2em 1em;
    margin-bottom: 2em;

    h1 {
      color: white;
      z-index: 2;
      font-size: 3rem;
    }

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($navy, 0.6)
    }
  }
}

.projects {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;

  .project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1em;
    flex: 0 0 calc(100% / 4 - 2em);
    height: 260px;
    background: lighten($black-pearl, 5%);
    border-radius: $radius;

    @include md-device {
      flex: 0 0 calc(100% / 3 - 2em);
    }

    @include sm-device {
      flex: 0 0 calc(100% / 2 - 2em);
    }

    @include xs-device {
      flex: inherit;
      width: 100%;
    }

    &:hover {
      background: lighten($black-pearl, 6%);
    }

    .project-title {
      margin: 0;
      margin-bottom: 0.5em;
      text-align: left;
      font-size: 28px;
      font-weight: 600;
      color: white;
    }

    .project-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1;
      text-align: left;
      padding: 2em;
      color: white;
      font-size: 1rem;

      .tag {
        font-weight: bold;
        color: $green;

        &.app {
          color: $blue;
        }

        &.design {
          color: $pink;
        }
      }
    }

    .project-image {
      flex: 3;
      width: auto;
      min-height: 400px;
      background: darken($bg-grey, 2%);
      background-size: cover;
      padding: 1em;
      margin: 0.5em;
    }

    p {
      font-weight: 400;
      @include main-font;
      font-size: 13px;
      margin-bottom: 1em;
    }
  }
}

@mixin overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  font-size: 100%;
  @include main-font;
  background: lighten($background, 2%);
  height: 100%;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.Borders {
  @include overlay;
  position: fixed;
  background: transparent;
  border: 20px solid $black-pearl;
  z-index: 100;
}

$one: rgba($black-pearl, 1);
$two: rgba(darken($black-pearl, 6%), 0.8);

.Portfolio.nav-open .Index .IndexOverlay {
  opacity: 0.9;
}

.Index {
  position: relative;
  background-size: cover;
  background-position: center center;

  @include xs-device {
    height: 100%;
    flex: 1;

    .IndexContent {
      padding: 1.5em!important;
      height: inherit!important;
      flex: 1;

      h2 {
        font-size: 2rem!important;
      }

      p {
        font-size: 3rem!important;
      }

      small {
        max-width: 100%!important;
        font-size: 1.25rem!important;
      }
    }
  }

  .rekt {
    position: absolute;
    width: 372px;
    border: 20px solid;
    z-index: 3;
    margin-top: 7%;
    margin-left: 9%;
    height: 80vh;
    opacity: 0.15;
  }

  .IndexOverlay {
    background: rgba($black-pearl, 0.9);
    background: linear-gradient(to right, $one, $two);
    @include overlay;
    opacity: 1;
    transition: opacity 150ms ease-out;
    z-index: 2;
  }

  .IndexContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
    padding: 3em 5em;
    text-align: left;
    z-index: 10;
    color: white;

    a {
      color: white;
      border-bottom: 1px solid;
      cursor: pointer;
    }

    h2 {
      // color: #DA5269;
      color: white;
      // color: $green;
      text-align: left;
      @include logo-font;
      font-size: 3rem;
    }

    p {
      font-size: 5rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      color: $pastel-green;
      margin: 0;
      text-align: left;
      font-family: 'Helvetica', sans-serif;
      line-height: 1.25;
    }

    small {
      display: block;
      @include main-font;
      margin-top: 1em;
      font-size: 1.1em;
      max-width: 35vw;
      color: darken(white, 30%);
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  @include header-font;
}

h2 {
  font-size: 2em;
  text-align: center;
  color: $deep-blue;
  font-weight: 400;
}

.Nav {
  position: fixed;
  background: black;
  min-width: 80px;

  .user {
    margin-left: auto;
  }

  menu {
    display: none;
  }
}

.container {
  max-width: 900px;
  margin: auto;
}

.container-sm {
  max-width: 600px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.error-alert {
  background: #2c3e50;
  color: white;
  border-radius: $radius;
  padding: 0.5em 1em;
  margin-top: 1em;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

p {
  color: $text-grey;
}

label {
  color: $deep-blue;
  font-size: 13px;
  @include header-font;
  font-weight: 600;
}

button, a.button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: $primary;
  color: white;
  font-weight: 400;
  border-radius: $radius;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
  padding: 1em 2em 3em 1em;
  font-size: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 16px 0 rgba($deep-blue, 0.2);
  transition: background 0.2s ease;
  will-change: background;

  &:hover {
    background: lighten($primary, 5%);
  }
}

ul, ol, li {
  list-style-type: none;
}

li > a {
  display: block;
  color: inherit;
  font-style: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: $primary;
  text-decoration: inherit;
}

a:visited {
  text-decoration: line-through;
}

h3 { font-size: 1.25rem }

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.site-content {
  display: flex;
  flex-direction: row;

  @include xs-device {
    flex-direction: column;
    height: 100vh;

    .main-content {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%!important;
    }
  }

  .main-content {
    flex: 1;
    padding-left: $nav-width;
  }
}

// NAV
nav {
  position: fixed;
  width: $nav-width;
  background: $black-pearl;
  height: 100vh;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  transition: width 200ms ease-in-out;
  will-change: width;

  @include xs-device {
    height: 70px;
    width: 100%;
    transition: height 200ms ease-in-out;
    will-change: height;

    #MenuIcon {
      text-align: right!important;
    }

    &.open {
      width: 100%!important;
      height: 330px;

      .nav-content {
        padding: 0 1em 1em!important;
      }
    }

    .nav-content {
      padding: 0!important;
    }

    menu.social-links-menu {
      display: none!important;
    }
  }

  &.open {
    width: $nav-width-open;

    #MenuIcon {
      text-align: left;
    }

    menu.social-links-menu {
      height: inherit!important;
      flex-direction: column-reverse;

      a {
        transform: rotate(0deg);
        text-align: center;
        padding: 0.5em;
        height: inherit;
        width: inherit!important;
        flex: 0 1 auto;
      }
    }

    menu.navigation-menu {
      display: flex;
    }
  }

  #MenuIcon {
    padding: 0.45em 0.25em;
    color: white!important;
    font-size: 2.5em;
    opacity: 0.8;
    cursor: pointer;
    text-align: center;

    &:hover {
      opacity: 1;
    }
  }

  .nav-content {
    padding: 0 1em 2em;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .brand {

      .logo {
        margin: 0 auto 1em;
      }

      .tagline {
        font-weight: 300;
        color: $light-grey;
      }
    }
  }
}

menu {

  &.navigation-menu {
    display: none;
    flex-wrap: wrap;

    li {
      width: 100%;

      a {
        font-size: 14px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0.5em;
        height: 100px;
        background: lighten($black-pearl, 2%);
        color: rgba(white, 0.8);
        text-align: right;
        padding: 1em;

        &:hover:not(.active) {
          color: white!important;
          font-weight: bold;

          span {
            color: white;
          }
        }

        &.active {
          color: white;
          background: $primary;
          font-weight: bold;
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          line-height: 1;
          margin: 8px;
          font-size: 3.25rem;
          color: lighten($black-pearl, 4%);
          transition: color 200ms ease;
        }
      }
    }
  }

  &.social-links-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid rgba($border-grey, 0.2);
    max-width: 160px;
    padding-top: 1em;
    margin: auto;
    text-align: center;
    height: 300px;

    a {
      display: block;
      color: rgba(white, 0.7);
      flex: 1;
      width: 100px;
      padding: 0 1em;
      overflow: hidden;
      margin: 0;
      text-align: left;
      transform: rotate(-90deg);
      transition: transform 300ms ease;
      will-change: transform;

      &:hover {
        color: white;
      }
    }
  }

  &.compact {
    li a {
      padding: 0.5em 0;
    }
  }
  &.hover-grow {
    li > a:hover:not(.active) {
      color: darken($menu-links, 15%);
      transform: scale(1.08);
    }
  }

  &.slashed {
    li > a {
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50px;
        left: 41%;
        width: 60px;
        height: 4px;
        background: #eee;
        transform: rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
        transform-origin: 0 50%;
        transition: transform 0.4s;
      }

      &.active::before {
        transform: rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
      }
    }
  }
}

.photos {

  &.grid {
    padding: 0.5em;

    .photo {
      width: calc(100% / 2 - 1.5em);
      margin: 0.5em;
      float: left;
    }
  }

  &.list {
    .flickr-image {
      margin-bottom: -7px;
    }
  }
}

$dots: 7;
$color: lighten(#0087ff, 20%);
$color2: $color;
$size: 15px;
$speed: 0.4s;

.Loader {
  display: block;
  text-align: center;
  width: 200px;
  margin: 4em auto;
  transform: rotate(180deg);

  .dot {
    width: $size;
    height: $size;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 0;
    background: $color;
    animation: sway $speed ease infinite;
    @for $i from 1 through $dots {
      &:nth-child(#{$i}) {
        left: ($i/$dots)*100%;
        animation-delay: ($i/4 + s);
      }
    }
  }

  .dotb {
    width: $size;
    height: $size;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    background: $color2;
    animation: swayb $speed ease infinite 3s, reset 1s ease forwards 5s;
    @for $j from 1 through $dots {
      &:nth-child(#{$j}) {
        left: ($j/$dots)*100%;
        animation-delay: ($j/4 + s);
      }
    }
  }
}
@keyframes sway {
  from {
    top: 0;
  }

  to {
    top: 40px;
    transform: (scale(0.75));
    z-index: 1;
    opacity: 0;
  }
}
@keyframes swayb {
  from {
    top: 40px;
    transform: (scale(0.75));
    z-index: 2;
  }

  to {
    top: 0;
  }
}
@keyframes reset {
  from {
    top: 0;
  }

  to {
    top: 0;
  }
}

hr {
  background: transparent;
  border: none;
  border-top: 1px solid;
  height: 0;
  width: 100%;
  margin: 1em auto;
}

.ProjectShowcase {
  position: relative;
  height: 100vh;
  padding: 5em 3em;
  color: white;
  background-size: cover;
  background-position: center center;

  &--info {
  }

  &--overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: rgba(lighten($background, 2%), 0.8);
  }

  .content {
    position: relative;
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 10;

    h1 {
      font-size: 3.125em;
    }

    button, a {
      display: flex;
      align-items: center;
      border-radius: 0;
      background: $pastel-green;
      color: white;
      text-align: right;
      text-transform: uppercase;
      width: 100%;
      margin-bottom: 1em;
      font-weight: 400;
      font-size: 13px;
      letter-spacing: 1.5px;
      padding: 0 2em;
      padding-right: 0;
      @include header-font;
      cursor: pointer;
      transition: padding 200ms, background 200ms;

      &:hover {
        padding-left: 3em;
        background: darken($pastel-green, 7.5%);

        i {
          padding: 1em 2em;
        }
      }

      i {
        margin-left: auto;
        padding: 1em;
        font-size: 16px;
        background: darken($pastel-green, 7.5%);
        transition: padding 200ms;
      }
    }
  }
}
