@import 'partials';
@import 'helpers';
@import 'text';
@import 'buttons';

@import url('https://fonts.googleapis.com/css?family=Lato|#{font($headline-font)}|#{font($logo-font)}');

@include createButton('blue', $blue);
@include createButton('orange', $pastel-orange);
@include createButton('pink', $pastel-pink);

@mixin createAnimation($name) {
  .#{$name} {
    animation-name: $name;
    animation-duration: 0.75s;
    animation-timing-function: $nav-easing;
    animation-fill-mode: both;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 200px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@include createAnimation(fadeIn);
@include createAnimation(fadeInUp);

img {
  max-width: 100%;
  height: auto;
  display: block;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol, li {
  list-style-type: square!important;
}

.main-content {
  padding-left: 3em;
  padding-right: 3em;
  // padding-top: 116px;
}

.lines {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;

  .line {
    width: calc(100% / 6);
    height: 100%;
    border-right: 1px solid rgba(black, 0.05);
  }
}

.Index {
  margin: 1em 2em;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 112vh;
  padding-top: 3em;
  margin-bottom: 0;
  background-size: cover;
  background-position: center center;

  .rekt {
    position: absolute;
    width: 372px;
    border: 18px solid #C1DAD2;
    z-index: 2;
    margin-top: 1%;
    margin-left: 12%;
    height: 80vh;
    opacity: 0.3;
    mix-blend-mode: multiply;
  }

  .IndexOverlay {
    @include overlay;
    background: white;
    opacity: $overlay-opacity;
    transition: opacity 150ms ease-out;
    z-index: 2;
  }

  .IndexImage {
    position: absolute;
    width: 70%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    right: 0;
    bottom: 4em;
    z-index: 1;
    // -webkit-filter: sepia(0.5);
    will-change: filter;
    transition: filter 200ms linear;
  }

  .IndexContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: calc(100vh - 7em);
    max-width: 800px;
    padding: 4em 4em;
    text-align: left;
    z-index: 2;

    ul {
      // list-style-type: square;
      padding-left: 1em;
    }

    ul > li {
      margin-top: 1em;
      font-size: 1em;
      max-width: 35vw;
    }
  }
}

.Header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-header;
  padding: 2em;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }

  #MenuIcon {
    line-height: 1;
    font-size: 2.25em;
    cursor: pointer;
    color: $primary;
    will-change: color, transform;
    transform: scale(1.1);
    transition:
      color $nav-timing $nav-easing,
      transform $nav-timing $nav-easing;
    align-items: center;
  }

  // &.aboutOpen #MenuIcon {
  //   transform: translateX(calc(100vw - 590px));
  // }

  &.open #MenuIcon {
    color: white;
  }

  .pathname {
    margin-left: 0.5em;
    font-size: 1.4em;
    opacity: 0.1;
    margin-top: 5px;
    font-weight: 100;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.About {
  position: fixed;
  top: 0;
  right: 0;
  border-left: 3px solid;
  width: 500px;
  height: 100vh;
  background: black;
  padding: 8em 2em 2em;
  z-index: $z-about;
  transform: translateX(100%);
  will-change: transform;
  transition: transform $nav-timing $nav-easing;
  color: white;

  &.open {
    transform: translateX(0);
  }

  p {
    font-size: 2rem;
  }
}

$timeline-gutter: 0em;

.Timeline {
  position: relative;
  padding: 2em $timeline-gutter;
  height: 600px;
  margin: 0 -3em 10em;
  overflow: hidden;
  background: white;
  border-top: 1px solid rgba(black, 0.05);
  border-bottom: 1px solid rgba(black, 0.05);

  .line {
    position: absolute;
    border-top: 2px solid;
    top: 50%;
    left: 0;
    width: 100%;
  }

  .cards {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
  }
}

$timeline-card-size: 320px;
$timeline-line-height: 50px;
$timeline-dot-size: 8px;

.TimelineCard {
  position: absolute;
  flex: 1 0 $timeline-card-size;
  width: $timeline-card-size;
  background: white;
  border: 2px solid black;
  // opacity: 0.3;
  //
  // &:hover {
  //   opacity: 1;
  // }

  .content {
    padding: 2em;
  }

  img {
    border-bottom: 2px solid;
    width: 100%;
    height: auto;
    padding: 4px;
  }

  p {
    font-size: 13px;
    margin-bottom: 1em;
  }

  strong {
    font-size: 11px;
  }

  &.bottom {
    top: 50%;
    margin-top: $timeline-line-height;

    .event-line {
      content: '';
      position: absolute;
      top: -$timeline-line-height;
      left: calc(#{$timeline-card-size/2} - 2px);
      height: $timeline-line-height;
      border-right: 2px solid black;
    }

    .event-dot {
      content: '';
      position: absolute;
      top: calc(-#{$timeline-line-height} - #{$timeline-dot-size/2} - 1px);
      left: calc(#{$timeline-card-size/2} - #{$timeline-dot-size/2} - 1px);
      background: black;
      border-radius: 50%;
      width: $timeline-dot-size;
      height: $timeline-dot-size;
    }
  }

  &.top {
    bottom: calc(50% - 2px);
    margin-bottom: $timeline-line-height;

    .event-line {
      content: '';
      position: absolute;
      top: 100%;
      left: calc(#{$timeline-card-size/2} - 2px);
      height: $timeline-line-height;
      border-right: 2px solid black;
    }

    .event-dot {
      content: '';
      position: absolute;
      bottom: calc(-#{$timeline-line-height} - #{$timeline-dot-size/2} - 1px);
      left: calc(#{$timeline-card-size/2} - #{$timeline-dot-size/2} - 1px);
      background: black;
      border-radius: 50%;
      width: $timeline-dot-size;
      height: $timeline-dot-size;
    }
  }
}

// Components
.NotFound {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  height: 100vh;

  h1 {
    margin-bottom: 1em;
  }
}

.GlobalLoader {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 2em;
  z-index: 100;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.Header.aboutOpen #Logo {
  position: relative;
  color: white!important;

  &:hover {
    &:before, &:after {
      opacity: 1;
    }
  }

  &:before, &:after {
    position: absolute;
    content: '';
    left: 50%;
    top: -20px;
    width: 1px;
    height: 100px;
    background: white;
    z-index: -1;
    opacity: 0.5;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

#Logo {
  position: relative;
  @include logo-font;
  color: $primary;
  font-weight: normal;
  text-align: center;
  font-size: 2em;
  margin-right: 0.5em;
  color: lighten(black, 5%);
  cursor: pointer;
  transition: color 300ms ease;

  &:hover {
    color: black
  }
}

.ProjectDetail {
  header {
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: center center;
    display: flex;
    color: white;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 2em 1em;
    margin-bottom: 2em;

    h1 {
      color: $blue;
      z-index: 2;
      font-size: 3rem;
    }

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($navy, 0.6)
    }
  }
}

.projects {
  padding: 1em;
  padding-top: 10em;
  padding-bottom: 10em;
  display: flex;
  flex-wrap: wrap;

  .project {
    display: flex;
    background: black;
    color: white;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    margin: 1em;
    flex: 0 0 calc(100% / 4 - 2em);
    height: 260px;
    border: 2px solid $primary;
    cursor: pointer;

    h2:before {
      content: none;
    }

    &:hover h2 {
      @include highlight(true);
    }

    &:hover .project-image {
      opacity: 0.25;
    }

    @include md-device {
      flex: 0 0 calc(100% / 3 - 2em);
    }

    @include sm-device {
      flex: 0 0 calc(100% / 2 - 2em);
    }

    @include xs-device {
      flex: inherit;
      width: 100%;
    }

    &:hover {
      // TODO
    }

    .project-title {
      margin: 0;
      margin-bottom: 0.25em;
      line-height: 1.25;
      text-align: left;
      font-size: 22px;
      font-weight: 400;
      padding: 0;
    }

    .project-content {
      position: relative;
      z-index: 5;
      display: flex;
      flex-direction: column;
      color: white;
      flex: 1;
      text-align: left;
      padding: 2em;
      font-size: 16px;

      .tag {
        font-weight: bold;
        color: $green;
        font-size: 10px;
        text-transform: uppercase;
        margin-bottom: 0.5em;

        &.app {
          color: $blue;
        }

        &.design {
          color: $pink;
        }
      }
    }

    p {
      font-size: 15px;
      margin-bottom: 1em;
    }
  }
}

.Borders {
  @include overlay;
  position: fixed;
  background: transparent;
  border: 20px solid $black-pearl;
  z-index: 100;
}

.Portfolio.nav-open .Index .IndexOverlay {
  opacity: 0.9;
}

// NAV
.Menu {
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-width;
  background: $nav-color;
  height: 100vh;
  display: flex;
  z-index: $z-sidebar;
  flex-direction: column;
  transition: transform $nav-timing $nav-easing;
  will-change: transform;
  transform: translate3d(-#{$nav-width}, 0, 0);

  &.open {
    transform: translate3d(0, 0, 0);
  }

  .nav-content {
    height: 100%;
    padding: 5em 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    will-change: transform;
    transform: translateX(-20%);
    transition: transform $nav-delay $nav-easing;

    &.open {
      transform: translateX(0);
    }
  }
}

menu.navigation-menu {
  padding: 1em;

  ul, ol, li {
    list-style-type: none!important;
  }

  li a {
    color: rgba(white, 0.8);
    padding: 0.5em;
    border: none;
    display: block;
    cursor: pointer;

    &.active {
      color: $pastel-green;
      text-decoration: line-through;
    }

    &:hover {
      color: white;
      text-decoration: line-through;
    }
  }
}

menu.social-links-menu {
  margin-top: auto;
  border-top: 1px solid rgba(white, 0.1);
  padding: 2em 1em 1em;

  a {
    display: block;
    color: rgba(white, 0.7);
    padding: 0.5em;
    overflow: hidden;
    margin: 0;
    text-align: left;
    will-change: color;
    white-space: nowrap;

    &:hover {
      color: white;
    }
  }
}

menu {

  &.compact {
    li a {
      padding: 0.5em 0;
    }
  }

  &.slashed {
    li > a {
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50px;
        left: 41%;
        width: 60px;
        height: 4px;
        background: #eee;
        transform: rotate3d(0, 0, 1, -45deg) scale3d(0, 1, 1);
        transform-origin: 0 50%;
        transition: transform 0.4s;
      }

      &.active::before {
        transform: rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
      }
    }
  }
}

.ProjectShowcase {
  position: relative;
  height: $showcase-height;
  padding: 5em 3em;

  @include xs-device {
    height: inherit;
    padding: 3em 2em;
  }

  &--overlay, &--image {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 3;
    width: 100%;
    height: $showcase-height;
  }

  &--image {
    margin: 1em;
    margin-left: auto;
    z-index: 2;
    width: 55%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 12px 36px 0 rgba($navy, 0.3);

    @include devices(true) {
      display: none;
    }
  }

  .xs-device-image {
    display: none;

    @include xs-device {
      display: block!important;
    }
  }

  .content {
    position: relative;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    z-index: 2;

    @include devices(true) {
      max-width: 100%;
    }

    a.button {
      margin-top: 2em;
    }

    small.note {
      display: block;
      text-align: left;
      margin-bottom: 1em;
      font-style: italic;
      opacity: 0.6;
      font-size: 0.7rem;
    }

    h1 {
      font-size: 3.025rem;
      color: $primary;

      @include devices(true, true) {
        font-size: 2.325rem;
      }
    }
  }
}
